{% extends 'dataloaderinterface/base.html' %}
{% load static %}
{% load site %}
{% load widget_tweaks %}

{% block page_title %}
    <title>{% if request.resolver_match.view_name == "streamwatch:create" %}
        Create StreamWatch Experiment at {{ sampling_feature_code }}
    {% else %}
        Edit StreamWatch Experiment at {{ streamwatch.site_registration.sampling_feature_name }}
    {% endif %}</title>
{% endblock %}

{% block content %}
    <div class="ribbon ribbon-lightblue"></div>

    <div class="ribbon-container">
        <div class="container ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        {% if request.resolver_match.view_name == "streamwatch:create" %}
                            Create StreamWatch Experiment at {{ sampling_feature_code }}
                        {% else %}
                            Edit StreamWatch Experiment at {{ streamwatch.site_registration.sampling_feature_name }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <form class="form-streamwatch" method="POST">
                {% csrf_token %}
                {{ form.as_p }} 

                <div class="row">
                    <div class="col">
                        <a class="button-link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                {% if streamwatch.pk is None %}
                                    href="{% url 'streamwatches' sampling_feature_code %}"
                                {% else %}
                                    href="{% url 'streamwatch:view' sampling_feature_code streamwatch.id %}"
                                {% endif %}
                        >Cancel</a>
                        <button type="submit" class="mdl-button mdl-button--raised mdl-button--colored button--disable-after">
                            {% if streamwatch.pk is None %}Submit{% else %}Save Edits{% endif %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
{{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
<script src="{% static 'dataloaderinterface/js/common-forms.js' %}"></script>
<script src="{% static 'dataloaderinterface/js/streamwatch-create.js' %}"></script>
{% endblock %}