{% extends 'dataloaderinterface/base.html' %}
{% load static %}
{% load site %}
{% load widget_tweaks %}
{% load i18n %}

{% block page_title %}
    <title>
    {% if request.resolver_match.view_name == "streamwatch:create" %}
        Create StreamWatch Experiment at {{ sampling_feature_code }}
    {% else %}
        Edit StreamWatch Experiment at {{ streamwatch.site_registration.sampling_feature_name }}
    {% endif %}
    </title>
{% endblock %}

{% block content %}
    <div class="ribbon ribbon-lightblue"></div>

    <div class="ribbon-container">
        <div class="container ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <div class="col-12">
                    <div class="page-title text-center">
                        {% if request.resolver_match.view_name == "streamwatch:create" %}
                            <h3>StreamWatch Activity Form</h3>
                            <h6>Site ID: {{ sampling_feature_code }}</h6>
                            
                        {% else %}
                            <h3>StreamWatch Activity Form</h3>
                            <h6>Site ID: {{ sampling_feature_code }} (Edit Form)</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <form class="form-leafpack" method="POST"
                    {% if request.resolver_match.view_name == "streamwatch:create" %}
                  action="{% url 'streamwatch:create' sampling_feature_code %}"
                    {% else %}
                  action="{% url 'streamwatch:update' sampling_feature_code streamwatch.pk %}"
                    {% endif %}>
                {% csrf_token %}

                <table>
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {{ form }}
                        {% endfor %}

                    {% else %}
                        {% if wizard.steps.step1 == 1 %}

                        <div class="row">
                            <div class="col-12">
                                <h5 class="headline d-inline-block">Enter information to setup the form. The activity type(s) selected will determine the form questions on subsequent pages.</h5>
                            </div>
                        </div>
        
                        <div class="row std-row">
                            {{ wizard.form.site_registration }}
                            <div class="col-sm-12 col-md-6">
                                <div class="mdl-card mdl-shadow--2dp full-width">
        
                                    <div class="mdl-card__supporting-text default-font">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <label for="{{ wizard.form.investigator1.id_for_label }}">{{ wizard.form.investigator1.label }}</label>
                                                {{ wizard.form.investigator1|add_class:"form-control" }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field" >
                                                <label for="{{ wizard.form.investigator2.id_for_label }}">{{ wizard.form.investigator2.label }}</label>
                                                {{ wizard.form.investigator2|add_class:"form-control" }}
                                            </div>
                                        </div>
                                            
                                        <div class="row">
                                            <div class="form-field col-6">
                                                {{ wizard.form.collect_date.errors }}
                                                <label for="{{ wizard.form.placement_date.id_for_label }}">{{ wizard.form.collect_date.label }}</label>                                               </label>
                                                {{ wizard.form.collect_date|add_class:"form-control datepicker" }}
                                            </div>
        
                                            <div class="form-field col-6" >
                                                <label for="{{ wizard.form.collect_time.id_for_label }}">{{ wizard.form.collect_time.label }}</label>
                                                {{ wizard.form.collect_time|add_class:"form-control" }}
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                                <br><br>
                            </div>
        
                            <div class="col-sm-12 col-md-6">
                                <div class="mdl-card mdl-shadow--2dp full-width">
        
                                    <div class="mdl-card__supporting-text default-font">
                                        <div class="form-field">
                                            <label for="{{ wizard.form.activity_type.id_for_label }}">{{ wizard.form.activity_type.label }}</label>
                                            {{ wizard.form.activity_type.errors }}
                                            {{ wizard.form.activity_type }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        {% elif wizard.steps.step1 == 2 %}
                        <div class="row">
                            <div class="col-12">
                                <span class="step-number center-icon">1</span>
                                <h5 class="headline d-inline-block">Enter information about the current weather conditions</h5>
                            </div>
                        </div>
        
                        <div class="row step-row">
                            {{ wizard.form.site_registration }}
                            <div class="col-sm-12 col-md-6">
                                <div class="mdl-card mdl-shadow--2dp full-width">
        
                                    <div class="mdl-card__supporting-text default-font">
                                        <div class="form-field indent-left">
                                            <label for="{{ wizard.form.weather_cond.id_for_label }}">{{ wizard.form.weather_cond.label }}</label>
                                            {{ wizard.form.weather_cond.errors }}
                                            {{ wizard.form.weather_cond }}
                                        </div>

                                        <div class="form-field col-6">
                                            <label for="{{ wizard.form.time_since_last_precip.id_for_label }}">{{ wizard.form.time_since_last_precip.label }}</label>
                                            {{ wizard.form.time_since_last_precip|add_class:"form-control" }}
                                        </div> 
                                    </div>
                                </div>
                                <br><br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <span class="step-number center-icon">2</span>
                                <h5 class="headline d-inline-block">Enter information about the current water conditions</h5>
                            </div>
                        </div>
        
                        <div class="row step-row">
                            {{ wizard.form.site_registration }}
                            <div class="col-sm-12 col-md-6">
                                <div class="mdl-card mdl-shadow--2dp full-width">
        
                                    <div class="mdl-card__supporting-text default-font">
                                        
                                        <div class="form-field col-6">
                                            <label for="{{ wizard.form.water_color.id_for_label }}">{{ wizard.form.water_color.label }}</label>
                                            {{ wizard.form.water_color|add_class:"form-control" }}
                                        </div>

                                        <div class="form-field indent-left">
                                            <label for="{{ wizard.form.water_odor.id_for_label }}">{{ wizard.form.water_odor.label }}</label>
                                            {{ wizard.form.water_odor.errors }}
                                            {{ wizard.form.water_odor }}
                                        </div>

                                        <div class="form-field col-6">
                                            <label for="{{ wizard.form.turbidity_obs.id_for_label }}">{{ wizard.form.turbidity_obs.label }}</label>
                                            {{ wizard.form.turbidity_obs|add_class:"form-control" }}
                                        </div> 

                                    </div>
                                </div>
                                <br><br>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="mdl-card mdl-shadow--2dp full-width">
        
                                    <div class="mdl-card__supporting-text default-font">
                                        <div class="form-field col-6">
                                            <label for="{{ wizard.form.water_movement.id_for_label }}">{{ wizard.form.water_movement.label }}</label>
                                            {{ wizard.form.water_movement|add_class:"form-control" }}
                                        </div> 
                                    </div>

                                    <div class="mdl-card__supporting-text default-font">
                                        <div class="form-field col-6">
                                            <label for="{{ wizard.form.aquatic_veg_amount.id_for_label }}">{{ wizard.form.aquatic_veg_amount.label }}</label>
                                            {{ wizard.form.aquatic_veg_amount|add_class:"form-control" }}
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% elif wizard.steps.step1 == 3 %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="headline d-inline-block">Enter measurements taken in the field. Select method  then add parameters</h5>
                            </div>
                        </div>
        
                        <div class="row std-row">
                            {{ wizard.form.site_registration }}
                            <div class="col-sm-12 col-md-6">
                                <div class="mdl-card mdl-shadow--2dp full-width">
        
                                    
                                </div>
                                <br><br>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="mdl-card mdl-shadow--2dp full-width">
        
                                    <div class="mdl-card__supporting-text default-font">
                                        <div class="form-field col-6">
                                            <label for="{{ wizard.form.air_temp.id_for_label }}">{{ wizard.form.air_temp.label }}</label>
                                            {% render_field  wizard.form.air_temp class="form-control d-inline" %}
                                            <small>°C</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    {% endif %}
                </table>


                <br><br>
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-end">
                        <!-- <a class="button-link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                {% if streamwatch.pk is None %}
                                    href="{% url 'streamwatches' sampling_feature_code %}"
                                {% else %}
                                    href="{% url 'streamwatch:view' sampling_feature_code streamwatch.id %}"
                                {% endif %}
                        >Cancel</a> -->

                        {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" class="mdl-button mdl-button--raised mdl-button--colored button--disable-after" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                        <button name="wizard_goto_step" type="submit" class="mdl-button mdl-button--raised mdl-button--colored button--disable-after" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
                        {% endif %}
                        <button type="submit" class="mdl-button mdl-button--raised mdl-button--colored button--disable-after">
                            {% if streamwatch.pk is None %}Next{% else %}Save Edits{% endif %}
                        </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="{% static 'dataloaderinterface/js/common-forms.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/streamwatch-create.js' %}"></script>
{% endblock %}