{% extends 'dataloaderinterface/base.html' %}
{% load static %}
{% load site %}
{% load widget_tweaks %}

{% block page_title %}
    <title>Leaf Pack Experiment Details at {{ leafpack.site_registration.sampling_feature_name }}</title>
{% endblock %}

{% block content %}
    <div class="ribbon ribbon-lightblue"></div>

    <div class="ribbon-container">
        <div class="container ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        Leaf Pack Experiment Details at
                        <a href="{% url 'site_detail' sampling_feature_code %}"
                           style="color: inherit;">
                            {{ leafpack.site_registration.sampling_feature_name }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="buttons-toolbar row">
                <div class="col-6">
                    <h5 class="headline">Leaf Pack Details</h5>
                </div>
                <div class="col-6 text-right">
                    <a href="{% url 'leafpack:csv_download' sampling_feature_code leafpack.id %}"
                       class="button-link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <i class="material-icons center-icon">cloud_download</i> Download CSV
                    </a>

                    {% if can_administer_site %}
                        <a href="{% url 'leafpack:update' sampling_feature_code leafpack.id %}"
                           id="btn-edit-leaf-exp"
                           class="button-link mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <i class="material-icons center-icon">mode_edit</i> Edit
                        </a>

                        <button id="btn-del-leaf-exp" type="button"
                                data-toggle="modal" data-target="#experiment-delete-dialog"
                                class="mdl-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
                            <i class="material-icons center-icon">delete_forever</i> Delete
                        </button>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {# <code>{{ leafpack.uuid }}</code> #}
                    <h6 class="title">Placement Information</h6>
                    <hr class="dotted">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width no-borders">
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-calendar-plus-o icon-blue" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric label">Placement Date</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.placement_date }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-leaf icon-green" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric label">Number of Packs Placed</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.leafpack_placement_count }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-thermometer-three-quarters icon-light-blue" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric label">
                                Placement Air Temperature
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.placement_air_temp|default:"Unknown" }}
                                <small> °C</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-thermometer-quarter icon-light-blue" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric label">
                                Placement Water Temperature
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.placement_water_temp|default:"Unknown"  }}
                                <small> °C</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-globe" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric label">Stream Habitat Type</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.deployment_type }}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h6 class="title">Leaf Pack Type and Composition</h6>
                    <hr class="dotted">
                    <p class="label">Predominant Leaf Species:</p>
                    {% for lp in leafpack.types.all %}
                        <h5 class="d-inline"><span class="badge badge-info">{{ lp }}</span></h5>
                    {% endfor %}
                    <br><br>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h6 class="title">Retrieval Information</h6>
                    <hr class="dotted">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width no-borders">
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-calendar-minus-o icon-blue" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric label">Retrieval Date</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.retrieval_date }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-leaf icon-orange" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric label">Number of Packs Retrieved</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.leafpack_retrieval_count }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-thermometer-three-quarters icon-light-blue" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric label">Retrieval Air Temperature</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.retrieval_air_temp|default:"Unknown" }}
                                <small> °C</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--icon"><i class="fa fa-thermometer-quarter icon-light-blue" aria-hidden="true"></i></td>
                            <td class="mdl-data-table__cell--non-numeric label">Retrieval Water Temperature</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.retrieval_water_temp|default:"Unknown"  }}
                                <small> °C</small>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h6 class="title">Storm and Non-Storm Events</h6>
                    <hr class="dotted">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width no-borders">
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric label">Did storms occur while your leaf packs were in
                                the stream?
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% if leafpack.had_storm is None %}
                                    Unknown
                                {% elif leafpack.had_storm %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                        {% if leafpack.had_storm %}
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric indent-left label">Number of storms that
                                    occurred
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">{{ leafpack.storm_count }}</td>
                            </tr>
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric indent-left label">Total precipitation depth that
                                    occurred
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">{{ leafpack.storm_precipitation }} <small>cm</small></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric label">Did flooding occur?</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% if leafpack.had_flood is None %}
                                    Unknown
                                {% elif leafpack.had_flood %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric label">Was this site experiencing a drought during
                                your experiment?
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {% if leafpack.had_drought is None %}
                                    Unknown
                                {% elif leafpack.had_drought %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5 class="headline">Macroinvertebrate Counts</h5>
                    {% include 'includes/macroinv-link.template.html' %}
                </div>
                
                {% for group in leafpack_groups%}

                    <div class="col-sm-12 col-md-4">
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover full-width macroinv" data-group="{{group.name}}">
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric mdl-data-table__header" colspan="2" style="font-size:16px; color:#048a8a;"> {{group.name}}</th>
                                </tr>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric mdl-data-table__header">Taxon</th>
                                    <th class="mdl-data-table__header">Tally</th>
                                </tr>
                                {% for bug_data in group.list %}
                                    <tr class="taxon">
                                        <td class="mdl-data-table__cell--non-numeric" data-name>
                                            {% if bug_data.bug.url != None %}
                                                <a href="{{ bug_data.bug.url }}"
                                                   target="_blank">{{ bug_data.bug.display_name|capfirst }}</a>
                                            {% else %}
                                                {{ bug_data.bug.display_name|capfirst }}
                                            {% endif %}
                                        </td>
                                        <td data-count>{{ bug_data.bug_count }}</td>
                                    </tr>
                                {% endfor %}
                                <tr class="taxon_sum">
                                    <td class="mdl-data-table__cell--non-numeric mdl-data-table__header" data-name>Total # of Taxa Groups Present
                                    </td>
                                    <td class="mdl-data-table__header" data-count>{{ group.presentCount }}</td>
                                </tr>
                                <tr class="taxon_sum">
                                    <td class="mdl-data-table__cell--non-numeric mdl-data-table__header" data-name>Group Weighting Factor
                                    </td>
                                    <td class="mdl-data-table__header" data-count>{{ group.wFactor }}</td>
                                </tr>
                                <tr class="taxon_sum">
                                    <td class="mdl-data-table__cell--non-numeric mdl-data-table__header" data-name>Group Index Value
                                    </td>
                                    <td class="mdl-data-table__header" data-count>{{ group.GroupIndexValue }}</td>
                                </tr>
                            </table>
                            <br>
                    </div>
                {% endfor %}

                <div class="col-12">
                    <br>
                    <h5 class="headline">Summary Analysis</h5>
                </div>
                <div class="col-12">
                    <h6 class="title">Results Overview</h6>
                    <hr class="dotted">
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover">
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric label">Total Number of Individuals Found</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.taxon_count }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric label">Pollution Tolerance Index Score</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.PTI_score|floatformat:0 }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric label">Pollution Tolerance Index Rating</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.PollutionToleranceIndexRating }}</td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric label">Percent EPT</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ leafpack.percent_EPT|floatformat:2 }}%</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-12 col-lg-7">
                    <div class="svg-container2 mdl-shadow--2dp"></div>
                    <br><br>
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div id="legend-container2">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover no-borders"></table>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-7"> 
                    <label id="chkSortContainer" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                           for="chkSortBars">
                        <input id="chkSortBars" type="checkbox" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">Sort values</span>
                    </label>
                    <div class="svg-container mdl-shadow--2dp"></div>
                    <br><br>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-4" id="legend-container-t0">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover no-borders"></table>
                    </div>
                    <div class="col-sm-12 col-md-4" id="legend-container-t1">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover no-borders"></table>
                    </div>
                    <div class="col-sm-12 col-md-4" id="legend-container-t2">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table-no-hover no-borders"></table>
                    </div>
                </div>

                {% if leafpack.notes %}
                    <div class="col-12">
                        <h6 class="title">Comments</h6>
                        <hr class="dotted">
                        <p><em>{{ leafpack.notes }}</em></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="experiment-delete-dialog" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content mdl-modal-content mdl-shadow--4dp">
                <h4 class="mdl-dialog__title">Delete Leaf Pack Experiment?</h4>

                <div class="mdl-dialog__content">
                    <p>
                        <strong>WARNING:</strong> All data associated with this experiment will be deleted.<br><br>
                        <strong>Are you really really really sure you want to do this?</strong>
                    </p>
                </div>
                <div class="mdl-dialog__actions text-right">
                    <form method="POST"
                          action="{% autoescape off %}{% url 'leafpack:delete' sampling_feature_code leafpack.id %}{% endautoescape %}">
                        {% csrf_token %}
                        <button type="submit" class="mdl-button mdl-button--raised"
                                style="background: #d9534f; color:#FFF;" id="btn-confirm-delete">Delete
                        </button>
                    </form>
                    <button type="button" class="mdl-button mdl-button--raised" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'dataloaderinterface/css/barchart.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="{% static 'dataloaderinterface/js/barchart.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/groupBarchart.js' %}"></script>
{% endblock %}