{% load widget_tweaks %}

<div class="row">
    <div class="col-12">
        <span class="step-number center-icon">1</span>
        <h5 class="headline d-inline-block">Enter information about the current weather conditions</h5>
    </div>
</div>

<div class="row step-row">
    {{ wizard.form.site_registration }}
    <div class="col-sm-12 col-md-6">
        <div class="mdl-card mdl-shadow--2dp full-width">

            <div class="mdl-card__supporting-text default-font">
                <div class="form-field indent-left">
                    <label for="{{ wizard.form.weather_cond.id_for_label }}">{{ wizard.form.weather_cond.label }}</label>
                    {{ wizard.form.weather_cond.errors }}
                    {{ wizard.form.weather_cond }}
                </div>

                <div class="form-field col-6">
                    <label for="{{ wizard.form.time_since_last_precip.id_for_label }}">{{ wizard.form.time_since_last_precip.label }}</label>
                    {{ wizard.form.time_since_last_precip|add_class:"form-control" }}
                </div> 
            </div>
        </div>
        <br><br>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <span class="step-number center-icon">2</span>
        <h5 class="headline d-inline-block">Enter information about the current water conditions</h5>
    </div>
</div>

<div class="row step-row">
    {{ wizard.form.site_registration }}
    <div class="col-sm-12 col-md-6">
        <div class="mdl-card mdl-shadow--2dp full-width">        
            <div class="mdl-card__supporting-text default-font">
                <div class="row">
                    <div class="form-field col-6">
                        <label for="{{ wizard.form.turbidity_obs.id_for_label }}">{{ wizard.form.clarity.label }}</label>
                        {{ wizard.form.clarity|add_class:"form-control" }}
                    </div> 
                    <div class="form-field col-6">
                        <label for="{{ wizard.form.water_color.id_for_label }}">{{ wizard.form.water_color.label }}</label>
                        {{ wizard.form.water_color|add_class:"form-control" }}
                    </div>
                </div>

                <div class="form-field">
                    <label for="{{ wizard.form.water_odor.id_for_label }}">{{ wizard.form.water_odor.label }}</label>
                        {{ wizard.form.water_odor.errors }}
                        {{ wizard.form.water_odor }}
                </div>
                <div class="form-field">
                    <label for="{{ wizard.form.water_odor_other.id_for_label }}">{{ wizard.form.water_odor_other.label }}</label>
                    {{ wizard.form.water_odor_other.errors }}
                    {{ wizard.form.water_odor_other|add_class:"full-width" }}
                </div>
            </div>
        </div>
        <br><br>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="mdl-card mdl-shadow--2dp full-width">        
            <div class="mdl-card__supporting-text default-font">

                <div class="form-field col-6">
                    <label for="{{ wizard.form.water_movement.id_for_label }}">{{ wizard.form.water_movement.label }}</label>
                    {{ wizard.form.water_movement|add_class:"form-control" }}
                </div>

                <div class="form-field indent-left">
                    <label for="{{ wizard.form.surface_coating.id_for_label }}">{{ wizard.form.surface_coating.label }}</label>
                    {{ wizard.form.surface_coating.errors }}
                    {{ wizard.form.surface_coating }}
                </div>

                

            </div>
        </div>
        <br><br>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="mdl-card mdl-shadow--2dp full-width">        
            <div class="mdl-card__supporting-text default-font">
                
                <div class="form-field col-6">
                    <label for="{{ wizard.form.aquatic_veg_amount.id_for_label }}">{{ wizard.form.aquatic_veg_amount.label }}</label>
                    {{ wizard.form.aquatic_veg_amount|add_class:"form-control" }}
                </div>
                <div class="form-field indent-left">
                    <label for="{{ wizard.form.aquatic_veg_type.id_for_label }}">{{ wizard.form.aquatic_veg_type.label }}</label>
                    {{ wizard.form.aquatic_veg_type.errors }}
                    {{ wizard.form.aquatic_veg_type }}
                </div>
            </div>
        </div>
        <br><br>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="mdl-card mdl-shadow--2dp full-width">        
            <div class="mdl-card__supporting-text default-font">
                
                <div class="form-field col-6">
                    <label for="{{ wizard.form.algae_amount.id_for_label }}">{{ wizard.form.algae_amount.label }}</label>
                    {{ wizard.form.algae_amount|add_class:"form-control" }}
                </div>
                <div class="form-field indent-left">
                    <label for="{{ wizard.form.algae_type.id_for_label }}">{{ wizard.form.algae_type.label }}</label>
                    {{ wizard.form.algae_type.errors }}
                    {{ wizard.form.algae_type }}
                </div>
            </div>
        </div>
        <br><br>
    </div>


</div>
