{% load widget_tweaks %}
<div class="form-streamwatch">
    <div class="row">
        <div class="col-12">
            <h5 class="headline d-inline-block">Enter chemical measurements taken in the field.</h5>
        </div>
    </div>


    <div class="row std-row">
        {{ wizard.form.site_registration }}
        <div class="col-sm-12 col-md-6">
            <div class="mdl-card mdl-shadow--2dp full-width">
                <div class="mdl-card__supporting-text default-font">
                        
                    <div class="row num-input">
                        <div class="form-field col-6 num-field" >
                            {{ wizard.form.simple_air_temperature.errors }}
                            <label for="{{ wizard.form.simple_air_temperature.id_for_label }}">{{ wizard.form.simple_air_temperature.label }}</label>                                               </label>
                            {{ wizard.form.simple_air_temperature|add_class:"form-control d-inline" }}
                            <small>°C</small>
                        </div>

                        <div class="form-field col-6 num-field">
                            {{ wizard.form.simple_ph.errors }}
                            <label for="{{ wizard.form.simple_ph.id_for_label }}">{{ wizard.form.simple_ph.label }}</label>                                               </label>
                            {{ wizard.form.simple_ph|add_class:"form-control d-inline" }}
                        </div>

                        <div class="form-field col-6 num-field">
                            {{ wizard.form.simple_water_temperature.errors }}
                            <label for="{{ wizard.form.simple_water_temperature.id_for_label }}">{{ wizard.form.simple_water_temperature.label }}</label>                                               </label>
                            {{ wizard.form.simple_water_temperature|add_class:"form-control d-inline" }}
                            <small>°C</small>
                        </div>

                        <div class="form-field col-6 num-field">
                            {{ wizard.form.simple_dissolved_oxygen.errors }}
                            <label for="{{ wizard.form.simple_dissolved_oxygen.id_for_label }}">{{ wizard.form.simple_dissolved_oxygen.label }}</label>                                               </label>
                            {{ wizard.form.simple_dissolved_oxygen|add_class:"form-control d-inline" }}
                            <small>ppm</small>
                        </div>

                        <div class="form-field col-6 num-field">
                            {{ wizard.form.simple_nitrate.errors }}
                            <label for="{{ wizard.form.simple_nitrate.id_for_label }}">{{ wizard.form.simple_nitrate.label }}</label>                                               </label>
                            {{ wizard.form.simple_nitrate|add_class:"form-control d-inline" }}
                            <small>ppm</small>
                        </div>

                        <div class="form-field col-6 num-field">
                            {{ wizard.form.simple_salinity.errors }}
                            <label for="{{ wizard.form.simple_salinity.id_for_label }}">{{ wizard.form.simple_salinity.label }}</label>                                               </label>
                            {{ wizard.form.simple_salinity|add_class:"form-control d-inline" }}
                            <small>ppt</small>
                        </div>

                        <div class="form-field col-6 num-field">
                            {{ wizard.form.simple_phosphate.errors }}
                            <label for="{{ wizard.form.simple_phosphate.id_for_label }}">{{ wizard.form.simple_phosphate.label }}</label>                                               </label>
                            {{ wizard.form.simple_phosphate|add_class:"form-control d-inline" }}
                            <small>ppm</small>
                        </div>                  
                    
                        <div class="form-field col-6 num-field">
                            {{ wizard.form.simple_turbidity.errors }}
                            <label for="{{ wizard.form.simple_turbidity.id_for_label }}">{{ wizard.form.simple_turbidity.label }}</label>                                               </label>
                            {{ wizard.form.simple_turbidity|add_class:"form-control d-inline" }}
                            <small>JTU</small>
                        </div>
                    </div>                    
                                       
                </div>
            </div>
        </div>
    </div>
</div>

