{% extends "dataloaderinterface/base.html" %}

{% load static %}

{% block content %}
    <div class="container-fluid login-page-headline">
        <div class="row">
            <div class="col">
                <h1 class="mdl-typography--display-1 text-white text-center text-shadow">Thank you for using the Water-Quality Data Portal</h1>
                <p class="mdl-typography--title text-white text-center text-shadow">You have been successfully logged out.</p>
            </div>
        </div>
    </div>
    
    <span id="bg-image" data-image-url="{% static "dataloaderinterface/images/login_bg.jpg" %}" class="hidden"></span>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            var path = $("#bg-image").attr("data-image-url");
            $("#wrapper").css('background-image', 'url("' + path + '")');
            $("#wrapper").css('background-size', 'cover');
            $("#wrapper").css('background-repeat', 'no-repeat');
        });
    </script>
{% endblock %}