body {
    /*overflow: hidden;*/
}

/* small devices */
@media only screen and (max-width: 720px) {
    #filters {
        overflow-y: initial;
        height: initial;
    }
}

/* medium devices and smaller */
@media only screen and (max-width: 992px) {
    .search-wrapper {
        margin-top: 70px !important;
    }
}

#wrapper {
    height: 100%;
    padding-top: 81px;
    margin-top: 0;
}

#map {
    height: 100%;
    background: #e8e8e8;
}

.map-container {
    height: 100%;
    min-height: 550px;
}

.full-height {
    height: 100%;
}

#filters {
    overflow-y: scroll;
    background: #e8e8e8;
    height: 100%;
    border-bottom: 1px solid #DDD;
}

#filters label:not(.mdl-switch) {
    display: table-cell;
    padding-right: 40px;
}

#filters .mdl-switch {
    margin-top: 20px;
}

#filters .badge {
    position: absolute;
    right: 24px;
    top: 16px;
    width: 24px;
}

.filter-container {
    margin: 20px 0;
}

.filter-body {
    overflow: auto;
}

.filter-header table tr:hover {
    background-color: #336666;
}

.filter-header h6 {
    margin: 0;
}

#filters .filter-header h6 > i.material-icons:first-child {
    vertical-align: middle;
    background: #336666;
    color: #FFF;
    border-radius: 50%;
    padding: 0;
    border: 2px solid #66CCCC;
}

.page-title {
    margin: 12px 0;
    display: inline-block;
}

.subtitle {
    vertical-align: middle;
    display: inline-block;
    margin: 10px 0;
}

.page-title, .subtitle, .filter-header a {
    text-shadow: 0 1px 0 #000;
    color: #FFF;
}

#map {
    border: 0;
}

input#search {
    padding-right: 36px;
    border-radius: 0 0.25rem 0.25rem 0;
    border: 0;
    border-left: 1px solid rgb(206, 212, 218);
}

#search-clear {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 3;
    color: #b6b6b6;
    cursor: pointer;
}

#search-addon {
    border: 0;
}

#search-clear:hover {
    color: #4f4f4f;
}

.search-wrapper {
    padding: 0;
    margin-top: 15px;
    border-radius: 0.25rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

