{% extends 'dataloaderinterface/base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'dataloaderinterface/css/home_page.css' %}">
{% endblock %}

{% block page_title %}
    <title>Monitor My Watershed</title>
{% endblock %}

{% block home_page_banner %}
    <div id="banner">
        <div class="parallax-window" data-parallax="scroll"
             {% if user.is_authenticated %}style="height: 400px;"{% endif %}
             data-image-src="{% static "dataloaderinterface/images/background-leafpack-2.jpg" %}"
             id="banner-image-container">
            <div class="legend-container" {% if user.is_authenticated %}style="height: 400px;"{% endif %}>
                <div class="row logos-row">
                    <div class="col-6 col-sm-3 offset-sm-3">
                        <img class="img-fluid" src="{% static "dataloaderinterface/images/envirodiy_logo.png" %}" alt="EnviroDIY Logo">
                    </div>
                    <div class="col-6 col-sm-3">
                        <img class="img-fluid"
                             src="{% static "dataloaderinterface/images/Leaf-Pack-Network-logo_horiz.png" %}"
                             alt="Leaf Pack Network Logo">
                    </div>
                </div>
                <div class="banner-legend text-center">
                    <h2 class="text-center">Data Sharing Portal </h2>
                    <h4 class="text-center">Contribute your water-quality data</h4>

                    {% if not user.is_authenticated %}
                        <h4 class="text-center">Ready to start sharing your data?</h4>
                        <h4 class="text-center">
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
                               href="{% url 'user_registration' %}">SIGN UP</a>
                        </h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid content-section">
        <div class="container shadow" id="how-it-works-section">
            <div class="row">
                <section class="col-sm-12">
                    <div class="text-center section-title">How It Works</div>
                    <p class="lead text-center">Monitor My Watershed supports multiple types of water-quality data.</p>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-2 col-8 offset-2">
                            <br><br>
                            <span class="img-row">
                                <img class="img-fluid"
                                     src="{% static 'dataloaderinterface/images/envirodiy_logo.png' %}"
                                     alt="Data Sharing Portal">
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mdl-card card-border-left" style="min-height: initial;">
                                <div class="mdl-card__title">
                                    Share and Explore Sensor Datasets
                                </div>

                                <div class="mdl-card__supporting-text">
                                    <p class="lead"><a href="https://www.envirodiy.org/" target="_blank">EnviroDIY</a>
                                        is a community of enthusiasts sharing do-it-yourself ideas for environmental
                                        science and monitoring.</p>
                                </div>
                            </div>
                            <br><br><br>
                        </div>
                        <div class="col-sm-12 col-lg-8 offset-lg-2">
                            <div class="row text-center">
                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number bg-light-teal">1</h3>
                                        <i class="fa fa-laptop step-icon bg-dark-teal" aria-hidden="true"></i>
                                        {% if user.is_authenticated %}
                                            <h4><a href="{% url 'site_registration' %}">Register</a>
                                        {% else %}
                                            <h4><a href="{% url 'login' %}">Register</a>
                                        {% endif %}
                                        your compatible data logger and your sensors.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number bg-light-teal">2</h3>
                                        <i class="material-icons step-icon bg-dark-teal">settings_remote</i>
                                        <h4>Deploy your data logger and start collecting data.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number bg-light-teal">3</h3>
                                        <i class="fa fa-cloud-upload step-icon bg-dark-teal" aria-hidden="true"></i>
                                        <h4>Stream your data continuously and <a
                                                href="{% url 'browse_sites' %}">view your results</a> online.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br><br><br>

                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-2 col-8 offset-2">
                            <br><br>
                            <span class="img-row">
                                <img class="img-fluid"
                                     src="{% static 'dataloaderinterface/images/Leaf-Pack-Network-logo-horiz-black.png' %}"
                                     alt="Leaf Pack Network logo">
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mdl-card card-border-left" style="min-height: initial;">
                                <div class="mdl-card__title">
                                    Share and Explore Macroinvertebrate Datasets
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p class="lead"><a href="https://leafpacknetwork.org/" target="_blank">The Leaf Pack
                                        Network</a> is an international network of teachers,
                                        students, and citizen monitors investigating their local stream ecosystems.</p>
                                </div>
                            </div>
                            <br><br><br>
                        </div>
                        <div class="col-sm-12 col-lg-8 offset-lg-2">
                            <div class="row text-center">
                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number bg-light-teal">1</h3>
                                        <i class="fa fa-leaf step-icon bg-dark-teal" aria-hidden="true"></i>
                                        <h4>Conduct your <a href="https://www.leafpacknetwork.org/resources/manual/"
                                                            target="_blank">Leaf Pack experiment</a>.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number bg-light-teal">2</h3>
                                        <i class="fa fa-laptop step-icon bg-dark-teal" aria-hidden="true"></i>
                                        {% if user.is_authenticated %}
                                            <h4><a href="{% url 'site_registration' %}">Register</a>
                                        {% else %}
                                            <h4><a href="{% url 'login' %}">Register</a>
                                        {% endif %}
                                            your location and enter your data.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number bg-light-teal">3</h3>
                                        <i class="fa fa-map step-icon bg-dark-teal" aria-hidden="true"></i>
                                        <h4><a href="{% url 'browse_sites' %}">Explore</a> your data and those contributed by others.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <br><br><br>

                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-2 col-8 offset-2">
                            <br><br>
                            <span class="img-row">
                                <img class="img-fluid"
                                     src="{% static 'dataloaderinterface/images/WSI_logo_blue_no_circle.png' %}"
                                     alt="Watershed Institute logo">
                            </span>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mdl-card card-border-left" style="min-height: initial;">
                                <div class="mdl-card__title">
                                    Share and Explore Stream Watch Datasets
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p class="lead"><a href="https://thewatershed.org/" target="_blank">The Watershed Institute</a> is a team focused on keeping water clean, safe and healthy through conservation, advocacy, science and education.
                                    </p>
                                </div>
                            </div>
                            <br><br><br>
                        </div>
                        <div class="col-sm-12 col-lg-8 offset-lg-2">
                            <div class="row text-center">
                            
                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number bg-light-teal">1</h3>
                                        <i class="fa fa-laptop step-icon bg-dark-teal" aria-hidden="true"></i>
                                        {% if user.is_authenticated %}
                                            <h4><a href="{% url 'site_registration' %}">Register</a>
                                        {% else %}
                                            <h4><a href="{% url 'login' %}">Register</a>
                                        {% endif %}
                                            or find your site.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number bg-light-teal">2</h3>
                                        <i class="fa fa-search step-icon bg-dark-teal" aria-hidden="true"></i>
                                        <h4>Conduct your <a href="https://thewatershed.org/streamwatchers-gather-water-quality-data/"
                                                            target="_blank">Stream Watch Assessment</a> and enter your data.</h4>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 text-center row-eq-height">
                                    <div class="card">
                                        <h3 class="step-number bg-light-teal">3</h3>
                                        <i class="fa fa-map step-icon bg-dark-teal" aria-hidden="true"></i>
                                        <h4><a href="{% url 'browse_sites' %}">Explore</a> your data and those contributed by others.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="container-fluid content-section">
        <div class="container shadow" id="companion-section">
            <div class="col-sm-12">
                <div class="text-center section-title">Explore the WikiWatershed Toolkit</div>
                <br><br>

                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col-sm-12 col-lg-6 row-eq-height">
                        <div class="card">
                            <div class="explore-image-container">
                                <img class="card-header-image" style="max-width: 350px;"
                                     src="{% static 'dataloaderinterface/images/WikiWatershed_logo_white.png' %}"
                                     alt="WikiWatershed logo">
                            </div>
                            <h4 class="text-left" style="margin-bottom: 60px;">
                                Monitor My Watershed® supports data capture and visualization functions for <a
                                    href="https://www.envirodiy.org/" target="_blank">EnviroDIY</a>
                                and <a href="https://www.leafpacknetwork.org/" target="_blank">Leaf Pack Network</a>
                                communities, which are part of <a href="https://wikiwatershed.org/" target="_blank">WikiWatershed</a>®.
                                <br><br>
                                The WikiWatershed toolkit includes:
                                <ul class="toolkit-list">
                                    <li><a href="https://wikiwatershed.org/model/" target="_blank">Model My Watershed</a>®, a web app that lets you analyze geospatial data, model
                                        storms, and compare conservation or development scenarios in a watershed.
                                    </li>
                                    <li>A <a href="https://wikiwatershed.org/model/" target="_blank">Runoff Simulation</a> that shows how land use and soil together determine whether
                                        rainfall infiltrates into the soil, runs off into streams, or is evaporated and
                                        transpired by plants.
                                    </li>
                                    <li>
                                        <a href="https://www.envirodiy.org/" target="_blank">EnviroDIY</a>, a community of do-it-yourself enthusiasts sharing open-source ideas for environmental science and monitoring.
                                    </li>
                                    <li>
                                        <a href="https://www.leafpacknetwork.org/" target="_blank">Leaf Pack Network</a>, an international network of teachers, students, and citizen monitors investigating their local stream ecosystems.
                                    </li>
                                    <li>
                                        The <a href="https://wikiwatershed.org/water-quality-app/" target="_blank">Water
                                        Quality mobile app</a> for recording water-monitoring data and enhancing
                                        learning activities for students and citizen scientists. Available for Apple and
                                        Android devices.
                                    </li>
                                </ul>
                            </h4>

                            <h4 class="visit-link text-left">
                                <a href="https://wikiwatershed.org/" target="_blank">
                                VISIT SITE <i class="material-icons center-icon">chevron_right</i></a>
                            </h4>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
        <div class="container-fluid section-gray content-section">
            <div class="col-sm-12">
                <section class="col-sm-12 text-center">
                    <h3>Ready to join?</h3>
                    <h5>Create an account for free.</h5>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
                       href="{% url 'user_registration' %}">SIGN UP</a>
                </section>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'dataloaderinterface/js/vendor/parallax.min.js' %}"></script>
    <script type="text/javascript">
        function TogglePlotVisibility(id) {
            var plot_id = "#plot_preview_".concat(id);
            if (!$(plot_id).is(":visible")) {
                $(plot_id).show();
            } else {
                $(plot_id).hide();
            }
        }
    </script>
    <script src="https://d3js.org/d3.v4.min.js"></script>

{% endblock %}
