{% extends 'dataloaderinterface/base.html' %}
{% load static %}
{#{% load helpers %}#}
{% load widget_tweaks %}

{% block page_title %}
    <title>Manage StreamWatch Assessments at {{ siteregistration.sampling_feature_code }}</title>
{% endblock %}

{% block content %}
    <div class="ribbon bg-medium-teal"></div>

    <div class="ribbon-container">
        <div class="container main-content ribbon-content mdl-color--white mdl-shadow--4dp">
            <div class="page-title">Manage StreamWatch Assessments at  
                <a id="sampling_feature_code" sampling_feature_code="{{ siteregistration.sampling_feature_code|urlencode }}"  style="color: rgb(4, 138, 138);" href="{% autoescape on %}{% url 'site_detail' siteregistration.sampling_feature_code %}{% endautoescape %}">
                {{ siteregistration.sampling_feature_code }}
                </a>
            </div>
            <fieldset class="form-fieldset">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <a id="new-streamwatch-btn"
                           href="{% url 'streamwatch:create' siteregistration.sampling_feature_code %}"
                           class="link-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">add</i>
                        </a>

                        <div class="mdl-tooltip" data-mdl-for="new-streamwatch-btn">
                            Add New StreamWatch Assessment
                        </div>

                        <br><br>

                        <div style="overflow: auto;">
                            <table class="no-hover mdl-data-table mdl-js-data-table macroinvertebrate">
                                <thead>
                                <tr class="full-width">
                                    <th class="mdl-data-table__cell--non-numeric">Begin Date</th>
                                    {#<th class="mdl-data-table__cell--non-numeric">Content</th>#}
                                    <th class="mdl-data-table__cell--non-numeric">Edit</th>
                                    <th class="mdl-data-table__cell--non-numeric">Delete</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if streamwatchsurveys %}
                                    {% for survey in streamwatchsurveys %}
                                        <tr class="bg-white leafpack-form" data-id="{{ survey.actionid }}">
                                            <td class="mdl-data-table__cell--non-numeric">{{ survey.begindatetime }}</td>
                                            {#<td class="mdl-data-table__cell--non-numeric">{{ survey.actiontypecv|default:"NA" }}</td>#}
                                            <td class="mdl-data-table__cell--non-numeric">
                                                <a href="{% url 'streamwatch:update' siteregistration.sampling_feature_code survey.actionid %}"
                                                   class="mdl-button mdl-button--accent">
                                                    <i class="material-icons center-icon">mode_edit</i>
                                                </a>
                                            </td>
                                            <td class="mdl-data-table__cell--non-numeric">
                                                {% csrf_token %}
                                                <button class="mdl-button btn-delete-experiment"
                                                        style="color: #d9534f"
                                                        type="button">
                                                    <i class="material-icons center-icon">delete_forever</i>
                                                </button>
                                            </td>
                                            <td class="mdl-data-table__cell--non-numeric">
                                                <a class="mdl-button mdl-js-button button-link mdl-button--primary"
                                                   href="{% url 'streamwatch:view' siteregistration.sampling_feature_code survey.actionid %}">
                                                    View Details
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                <tr class="no-experiments-row bg-white">
                                    <td colspan="6" class="text-center">
                                        No macroinvertebrate data have been added to this site.
                                    </td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>

            <br><br>
            <a class="button-link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
               href="{% autoescape on %}{% url 'site_detail' siteregistration.sampling_feature_code %}{% endautoescape %}">
                Back to site details
            </a>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete-experiment" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content mdl-modal-content mdl-shadow--4dp">
                <h4 class="mdl-dialog__title">Delete Survey?</h4>

                <div class="mdl-dialog__content">
                    <div class="alert alert-danger hidden">All stored data corresponding to
                        this survey will be deleted.<br/></div>
                    <p>Are you sure you want to remove this survey?</p>
                </div>
                <div class="mdl-dialog__actions text-right">
                    <button type="button" class="mdl-button mdl-button--raised" id="btn-confirm-delete-experiment">
                        Delete
                    </button>
                    <button type="button" class="mdl-button mdl-button--raised" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block services_urls %}
    {{ block.super }}
    <input id="leafpack-delete-api" type="hidden" value="{% url 'delete_leafpack_service' %}">
{% endblock %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{#    <script src="{% static 'dataloaderinterface/js/bootstrap-toolkit.min.js' %}"></script>#}
    <script src="{% static 'dataloaderinterface/js/websdl-utils.js' %}"></script>
    <script src="{% static 'dataloaderinterface/js/manage-streamwatch.js' %}"></script>
{% endblock %}