<p>
    Stroud Water Research Center is implementing a subscription plan for EnviroDIY 
    and other streaming data to Monitor My Watershed. These changes do not apply 
    to Leaf Pack Network or StreamWatch Schools users or data.
</p>
<p>
    <strong>Why are you asking me to pay?</strong><br>
     Subscriptions will cover Monitor My Watershed operating expenses, allowing us to fundraise for new features and enhanced functionality.
</p>
<p>
    <strong>How much will subscriptions cost?</strong>
    <ul>
        <li>$0 for one active site</li>
        <li>$9/month (or $99 for an annual plan) for two or three active sites.</li>
        <li>$49/month ($588 annual plan) for four to 15 active sites. </li>
        <li>$199/month ($2,388 annual plan) for 16 to 60 active sites (Need more sites? Contact Us!).</li>
    </ul>
    <div style="margin-left:20px;">
        <p>An active site is a site that has been updated within the past two weeks; inactive sites are red on MonitorMyWatershed <a class="link" href="/browse">Browse Sites</a> page.</p>
        <p>Each tier has a monthly data point limit that accommodates posting data from up to five parameters per site every 15 minutes.</p>
    </div>
        
</p>
    
<p>
    <strong>Are you making money from subscriptions?</strong><br>
    No. 100% of subscription funds will pay for Monitor My Watershed operating expenses.
</p>
<p>
    <strong>Will my data be deleted if I choose not to pay?</strong><br>
    No. Your historical data will continue to be accessible.
</p>
<p>
    <strong>Do I have to pay if I'm collecting data for an organization?</strong><br>
    Only if you are the organization's primary contact. 
    We are working with all organizations to establish a primary contact and authorized users list.
</p>
<p>
    <strong>When do I have to start paying?</strong><br>
    Subscription plan payments will be accepted starting January 1, 2024. 
    We understand that some users may need additional time to budget 
    for this expense, so users may elect to defer payment up until April 30, 2024.
</p>
<p>
    <strong>How will I pay for my subscription?</strong><br>
    Subscriptions can be purchased from the <a class="link" href="https://www.envirodiy.org/product/monitor-my-watershed/">EnviroDIY Shop</a>. You can make a credit or debit card payment 
    via Paypal (note you do not need a PayPal account to pay).
</p>
<p>
    <strong>What if I need help using Monitor My Watershed?</strong><br>
    We will continue to provide updates and technical support 
    in the <a class="link" href="https://www.envirodiy.org/forum/monitor-my-watershed/">Monitor My Watershed forum </a> on EnviroDIY.
</p>
<p>
    <strong>Still have questions?</strong><br>
    Please read this <a class="link" href="https://www.envirodiy.org/topic/subscriptions/">forum post</a>.
</p>